<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <p>&copy; 2025 Borsos Balázs Elek</p>
        <p>{{ 'footer.madeBy' | translate }}</p>
      </div>
      <div class="footer-right">
        <a href="https://github.com/borsosbalazselek" target="_blank">
          <i class="fab fa-github"></i> <span class="footer-label">GitHub</span>
        </a>
        <a href="https://www.linkedin.com/in/balazs-borsos-6b668721b" target="_blank">
          <i class="fab fa-linkedin"></i> <span class="footer-label">LinkedIn</span>
        </a>
        <a href="https://www.youtube.com/@balazsborsos1171" target="_blank">
          <i class="fab fa-youtube"></i> <span class="footer-label">YouTube</span>
        </a>
        <a href="https://www.facebook.com/borsos.balazs.1" target="_blank">
          <i class="fab fa-facebook"></i> <span class="footer-label">Facebook</span>
        </a>
      </div>
      
    </div>
  </footer>