<section id="education">
  <div class="education-container">
    <!-- ELŐSZÖR a LISTA, utána a HEADER -->
    <div class="education-list">
      <div class="education-card" *ngFor="let edu of educationList; let i = index" data-aos="fade-left">
        <div class="education-text">
          <h3>{{ edu.institution  | translate }}</h3>
          <h4>{{ edu.years }} | {{ edu.degree  | translate }}</h4>
          <p class="header_p">{{ edu.description  | translate }}</p>
        </div>
        <div class="education-image-container" *ngIf="edu.images.length > 0">
          <img [src]="edu.thmb_image"
               alt="Oklevél"
               class="education-thumbnail"
               (click)="openGallery(i, 0)" />
        </div>
      </div>
    </div>

    <div class="education-header">
      <h2 class="h2">{{ 'educations.head' | translate }}</h2>
      <p class="header_p">
        {{ 'educations.headpagetext' | translate }}
      </p>
    </div>
  </div>

  <div class="education-button-container">
    <a [routerLink]="['/home']" class="education-btn" (click)="showmenupage()">{{ 'buttons.home' | translate }}</a>
  </div>
</section>
<div class="image-modal" *ngIf="galleryVisible" (click)="closeGallery()">
  <img [src]="currentImage" class="image-fullscreen" (click)="$event.stopPropagation()" />
  <button *ngIf="currentGallery.length > 1" class="nav-btn left" (click)="prevImage($event)">&#10094;</button>
  <button *ngIf="currentGallery.length > 1" class="nav-btn right" (click)="nextImage($event)">&#10095;</button>
</div>
